@import "../vendors/less-elements/elements.less";
@import "bootstrap.slate.css";

.modal-header {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    background-color: #272B30;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.modal-body {
    border-top: 1px solid #1C1E22;
}

.step {
    position: relative;
    width: 900px;
    margin: 20px auto;
    font-size: 30px;
    line-height: 1.5;
    .box-sizing(border-box);

    .impress-enabled & {
        margin: 0;
        opacity: 0.3;

        .transition-duration(0.2s);
    }
    .impress-enabled &.active { opacity: 1 }
}

/*========================================== 
    Enable some stuff if impress supported
==========================================*/
.impress-supported {
    & .fallback-message { display: none; }
    & .progress-wrapper { display: block; }
}
.progress-wrapper {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 135px;

    .label {
        float: left;
        margin-right: 2px;
        margin-top: 1px;
    }
}
.hint {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 40px;
    opacity: 0.5;
    display: none;
}

/*============================= 
    Start the slide styles
=============================*/
#start {

    /* Stuff that happens when the slide is active */
    &.active {
        .thumbnail {
            .transform(rotateY(30deg)) 
        }
        .welcome-banner {
            .transition(1s, ease-out);
            transition-property: left;
            left: 0;
        }
        .dev-heart {
            display: block;
            transition-property: right, top;
            transition-delay: 4s;
            .transition-duration(15s);
            right: -1000px;
            top: -700px;
        }
    }
    .dev-heart {
        position: absolute;
        top: 0;
        right: 0;
        height: 100px;
        width: 100px;
        z-index: -1;
    }
    .welcome-banner {
        font-size: 60px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        position: relative;
        left: 100%;
    }
    @imgHeight: 500px;
    .thumbnail { height: @imgHeight; width: @imgHeight * 0.75 }
}

#school {

    img {
        height: 275px;
    }
    .caption {
        text-align: center;
    }
    .ttu-thumbnail {
        .transform(rotateY(-30deg));

        iframe {
            height: 600px;
            width: 100%;
            border: none;
        }
    }
}

#current-skills {
    
    &.active {

        .stack {
            .transition(3s, ease-out);
            transition-property: width;
            width: 100%;
        }
    }
    .stack {
        background-image: url('img/full-stack.png');
        background-repeat: no-repeat;
        background-position: center; 
        height: 191px;
        width: 0;
    }
    h3 {
        border-bottom: 2px solid;
    }
    li {
        line-height: 30px;
        font-size: 15px;
    }
}

.professional-projects {

    &.active {

    }

    .title {
        .rotation(-90deg);
        white-space: nowrap;
        margin-top: 300px;
    }
}

#solarsystem {
    
    .solar-commander-video {
        display: block;
        margin: auto;
    }
    iframe {
        position: absolute;
        float: left;
        height: 500px;
        width: 500px;
        border: none;
    }
    p {
        font-size: 20px;
    }
}

#guestbook {

    #guest-video {
        border: 1px solid black;
        position: relative;
    }
    #guest-snap {
        width: 300px;    
    }
    .guest-video-wrapper {
        position: relative;
    }
    .video-underlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        font-size: 20px;
        padding: 100px 20px 0 20px;
        text-align: center;
    }
}

#guest-modal {
    
    #guest-preview {

    }
}

#built-with {
    
    li {
        max-width: 150px;
    }
    .impressjs {
        padding: 5px;
    }
}
